img {
    height: 100px;
    width: 75px;
    position: absolute;
    top: 0px;
    right: 0px;
}

head {
    border: 3px green dashed;
}

body {
    border: 3px green dashed;
}

footer {
    border: 3px green dashed;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(209, 210, 255);
}

.heading1 {
    text-align: center; 
    margin: 20px;
    margin-top: 20px;
    padding: 0;
    font-variant: small-caps;
    font-size: 40px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.LAB1 {
    text-align: left;
    font-size: 20px;
}
.LAB2 {
    text-align: left
    font-size: 20px;
}
.LAB3 {
    text-align: left;
    font-size: 20px;
}
#lab1 li{
    font-style: italic;
}
#lab2 li {
    font-style: italic;
}
#lab3 li {
    font-style: italic;
}
#footer {
    font-size: 15px;
    margin-top: 400px;
    text-align: center; 
    border-radius: 20px;
    background-color:antiquewhite;
}
