.heading {
    text-align: center; 
    margin: 20px;
    padding: 0;
    font-variant:small-caps;
}
.heading1 {
    text-align: center; 
    margin: 20px;
    padding: 0;
    font-variant:small-caps;
}